<footer>
    <p>All DC character art used on this webpage is copyrighted by DC Comics. This website is not affiliated with or endorsed by DC Comics. The use of DC character art is for educational purposes only.</p>
</footer>
</html>