<%- include ("sidebar.ejs") %>
<body>
    <h1>Characters</h1>
    <ul>
        <% data.forEach(character => { %>
            <li>
                <%= character.name %>
            </li>     
            <img src="<%= character.logo %>" width="200" alt="<%= character.name %>">
        <% }); %>
    </ul>
</body>
</html>