<%- include ("partials/sidebar.ejs") %>
<main>
    <h1>Welcome to the DC Duel card database!</h1>
    <%= user.email %> is logged in!

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <h2><a href="/characters">Characters</a></h2>
    <h2><a href="/groups">Groups</a></h2>
</main>
</body>
</html>