<%- include ("partials/sidebar.ejs") %>
<main class="banner">
    <h1>Welcome to the DC Duel card database!</h1>

    <section id="titles">
        <h2><a href="/characters">Characters</a></h2>
        <h2><a href="/groups">Groups</a></h2>
      </section>

    <form id="logout" action="/logout" method="post">
        User: <%= user.email %>
        <button type="submit">Log Out</button>
    </form>

    
</main>
</body>
<%- include ("partials/footer.ejs") %>