<%- include ("partials/sidebar.ejs") %>
<main class="banner">
    <h1>Welcome to the DC Duel card database!</h1>
    <section class="account">
        <h2>Create an account:</h2>
    <% if (typeof message !== 'undefined') { %>
        <div class="<%= message.type %>"><%= message.message %></div>
    <% } %>
    <form action="/register/create" method="POST">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required/>
        </div>
        <button type="submit">Register</button>
    </form>
    </section>
    
</main>
</body>
</html>