@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    background-color: rgb(28, 25, 33);
    font-family: 'Montserrat', sans-serif;
    color: white;
    max-width: 100vw;
    height: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid white;
    max-width: 1200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px; 
    padding: 1rem;
}

.detailmain {
    align-items: center;
}

#navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cardlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 30px;
    width: 90%;
}

#details, #groupdetails, #editor {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: left;
    padding-bottom: 10rem;
    width: 75%;
}

.info {
    padding-left: 5rem;
}

#additional {
    display: flex;
    flex-flow: row;
    gap: 5rem;
}

#tags {
    display: flex;
    flex-flow: row;
}

.playercard, .groupcard {
    position: relative;
    width: 10rem;
    height: auto;
    background-size: cover;
    border: 0.5rem solid slategray;
    border-radius: 10px;
    overflow: visible;
    text-align: center;
    transition: transform .2s;
    list-style: none;
}

.playercard:hover, .groupcard:hover {
    transform: scale(1.05);
}

#details .playercard, #groupdetails .groupcard {
    width: 100%;
    max-width: 25%;
}

#details .groupcard {
    width: 100%;
    max-width: 10%;
}

.artwork {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.nameplate {
    position: absolute;
    width: 115%;
    height: auto;
    top: 90%;
    left: -7%; 
    transform: translateY(-50%);
}

.cost, .power {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.cost {
    top: -20px;
    left: -20px;
    background-color: #00f;
}

.power {
    top: -20px;
    right: -20px;
    background-color: #f90;
}